.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

#nav li a,button {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#main {
    display: flex;
    justify-content: center;
}

button{
    background: none;
    border: none;
}

.router {
    height: 100vh;
    display: flex;
    flex-direction: column;
}