<!-- <div class="wrapper">
  <div><img [src]="product.img" /></div>

  <div class="right">
    <h3>
      <a [href]="product.url" [title]="product.name" target="_blank">
        {{ product.name }}
      </a>
    </h3>

    <p *ngIf="product.description">{{ product.description }}</p>
    <p *ngIf="product.rating"><b>Rating:</b> {{ product.rating }}</p>
    <p *ngIf="product.price"><b>Price:</b> {{ product.price }} тг</p>
    <p><b>Likes:</b> {{ product.likes }}</p>

    <div class="buttons">
      <button type="button" (click)="didLike()">Like</button>
      <button type="button" (click)="didDelete()">Delete</button>
    </div>
  </div>
</div> -->

<mat-card class="wrapper">
  <div>
    <img
      mat-card-image
      src="{{ product.img }}"
      alt="Photo of a Shiba Inu"
    />
  </div>
  <div class="right">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <a [href]="product.url" [title]="product.name" target="_blank">
          {{ product.name }}
        </a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button mat-button (click)="didLike()">LIKE</button>
      <button mat-button (click)="didDelete()">DELETE</button>
    </mat-card-actions>
  </div>
</mat-card>
